@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <h2>The name of my theme is <strong>Mobiles</strong></h2>
    <br>
    <h3>My name is <strong>Het Patel</strong></h3>
    <br>
    <p>The current time on the server is <strong>@DateTime.Now</strong></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
