@page "/"

<h1>Hello, world!</h1>

<h2>Welcome to your new app.</h2>

<h2>My Theme Name is Mobiles.</h2><br>

<h2>My Name is Het Patel.</h2><br>

<h2>@DateTime.Now</h2>

<SurveyPrompt Title="How is Blazor working for you?" />
